<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<!-- <string>http://www.mazalearn.com/distribution/scienceenginerobovm.ipa</string> -->
					<string>http://192.168.1.108:8082/distribution/scienceenginerobovm.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://www.mazalearn.com/distribution/icon_57X57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://www.mazalearn.com/distribution/artwork_512x512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.mazalearn.scienceengine</string>
				<key>bundle-version</key>
				<string>2.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>Maza Learn Private Limited</string>
				<key>title</key>
				<string>Science Game</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
